.notification-item {
    border-radius: 10px;
    width: 100%;
    padding: 28px 34px 28px 28px;
    border-bottom: 2px dashed #F0F0F0;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .notification-item-time{
        color: #999999;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 14px;
    }
    .notification-item-content{
        font-size: 15px;
        color: #444444;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}