.personal-nav{
    width: 100%;
    border-radius: 10px;
    padding: 20px 22px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    .personal-nav-name{
        color: #444444;
        padding: 16px 0 20px 0;
        text-align: center;
        width: 100%;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        font-weight: bold;
        margin-bottom: 20px;
        border-bottom: 1px solid #F0F0F0;
    }
}