.phone {
    width: 100%;
    height: 100%;

    .phone-title {
        width: 100%;
        color: #444444;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 24px;
    }

    .phone-input {
        width: 100%;
        padding: 0 30px;
    }

    .phone-message {
        width: 100%;
        padding: 18px 30px 24px 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .phone-button-parent {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .phone-button {
            font-size: 16px;
            width: 126px;
            height: 38px;
            border-radius: 38px;
        }
    }
}