.single-show {
    width: 220px;
    position: relative;
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    margin-bottom: 24px;
    border:1px solid #EFEFEF;

    &:hover {
        box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.2);
    }

    .single-show-tostudy {
        width: 100%;
        height: 82px;
        display: flex;
        justify-content: center;
        align-items: center;

        .single-show-tostudy-button {
            width: 126px;
            height: 38px;
            font-size: 16px;
            border-radius: 6px;
        }
    }

    .single-show-img {
        width: 100%;
        height: 160px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;

    }

    .single-show-bottom {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;


        .single-show-name {
            width: 100%;
            padding: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #444444;
            font-weight: bold;
        }

        .single-show-time {
            width: 100%;
            padding: 0 10px 16px 16px;
            color: #999999;
            display: flex;
            justify-content: flex-start;
            font-size: 13px;
        }

        .single-show-like {
            width: 100%;
            padding: 0 16px 16px 16px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #999999;
            font-size: 13px;
        }
        .single-show-author{
            border-top: 2px solid #F0F0F0;
            width: 100%;
            height: 44px;
            padding: 0 16px;
            color: #999999;
            font-size: 13px;
            line-height: 44px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .single-show-operation {
            border-top: 2px solid #F0F0F0;
            width: 100%;
            height: 44px;
            color: #999999;
            font-size: 13px;

            .single-show-operation-item {
                height: 19px;
                display: flex;
                justify-content: center;
                align-items: center;

                .single-show-operation-div {
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }

    }

    .single-show-position {
        width: 66px;
        height: 22px;
        border-top-right-radius: 10px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.4);
        padding: 0 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #ffffff;
        position: absolute;
        top: 0;
        right: 0;
    }

    .single-show-lock {
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 160px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        top:0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 66px;
        color: #ffffff;
    }
}