.homeworks-detail {
    padding: 12px 15px;
    width: 1280px;

    .detail-title {
        font-size: 24px;
        font-weight: bold;
        color: #444444;
    }

    .detail-time {
        margin: 12px 0 18px 0;
        color: #999999;
    }

    .parent {
        display: flex;
        flex-flow: row;
        padding-bottom: 100px;

        .stable {
            width: 723px;
            height: 525px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 28px;
            .works-detail-row3 {
                width: 100%;
                min-height: 525px;
            }
            .works-cartoon {
                width: 100%;
                min-height: 525px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #eef8fb;
            }
          
        }

        .change {
            min-width: 362px;
            flex: 1;
            display: flex;
            flex-flow: row;
            flex-direction: column;

            .change-title {
                font-size: 16px;
                color: #444444;
                font-weight: bold;
            }

            .change-content {
                position: relative;
                flex: 1;
                margin: 12px 0 34px 0;
                background: #F9F9F9;
                border: 1px solid #EFEFEF;
                border-radius: 5px;
                padding: 20px 16px;
                white-space: pre-line;
                word-break: break-all;
                word-wrap: break-word;
                overflow: auto;
                .change-content::-webkit-scrollbar {
                    /*滚动条整体样式*/
                    width: 5px;
                    /*高宽分别对应横竖滚动条的尺寸*/
                    height: 1px;
                }
            
                .change-content::-webkit-scrollbar-thumb {
                    /*滚动条里面小方块*/
                    border-radius: 5px;
                    background: #c0bebe;
                }
            
                .change-content::-webkit-scrollbar-track {
                    /*滚动条里面轨道*/
                    border-radius: 5px;
                    background: #EDEDED;
                }
            

                .comment-blank {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0 auto;
                    width: 156px;
                    height: 140px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .comment-blank-font {
                        font-size: 12px;
                        margin-top: 12px;
                        color: #C0C0C0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;

                    }
                }

            }

            .change-comment-time {
                margin-top: 6px;
                color: #999999;
                font-size: 14px;
            }

            .change-button {
                margin: 0 auto;
                width: 328px;
                height: 52px;
                border-radius: 52px;
                font-size: 18px;
                color: #FFFFFF;
            }
        }
    }
}