.homepage {
    width: 100%;
    min-width: 1280px;

    .harvest-top {
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .footer {
        width: 100%;
        font-size: 10px;
        color: #fff;
        background: rgba(50, 50, 50, 0.7);
        padding: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .harvestparent {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #FFFFFF;

        .harvest {
            width: 1280px;
            padding: 60px 100px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .harvest-button {
                width: 406px;
                margin-top: 22px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

    }

    .commonproblem {
        width: 100%;
        display: flex;
        justify-content: center;

        .common-problem {
            width: 1280px;
            padding: 32px 160px 22px 110px;

            .common-problem-title {
                width: 100%;
                text-align: center;
                font-size: 20px;
                color: #fff;
            }

            .common-problem-content {
                width: 100%;
                padding-top: 26px;
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                color: #fff;
            }
        }
    }

    .notonlyprogram {
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;

        .not-only-program {
            width: 1280px;
            padding: 60px 120px 43px 120px;

            .not-only-program-list {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .not-only-program-item {
                    width: 230px;

                    .not-only-program-item-pic {
                        width: 100%;
                        height: 150px;
                        border-radius: 10px;
                        box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                        transition: all 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }

                    }

                    .not-only-program-item-word {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 16px 0;
                        color: #555555;
                        font-size: 24px;
                    }
                }
            }

            .not-only-program-pic {
                width: 100%;
                padding: 70px 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .trylesson {
        width: 100%;
        background: #FFFFFF;
        display: flex;
        justify-content: center;

        .try-lesson {
            width: 1280px;
            padding: 60px;

            .try-lesson-pic {
                width: 100%;
                padding-top: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .try-lesson-button {
                    width: 406px;
                    height: 74px;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .studyonline {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #fff;

        .study-online {
            width: 1280px;
            padding: 65px;
            background: #fff;

            .study-online-pic {
                width: 950px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .study-online-word {
                    width: 400px;
                    margin: 0 auto;
                    font-size: 22px;
                    color: #555555;
                }

                .study-online-pic-item {
                    width: 450px;
                    height: 280px;
                    border-radius: 10px;
                    box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                    transition: all 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .whatteacher {
        width: 100%;
        background: #FFFFFF;
        display: flex;
        justify-content: center;

        .what-teacher {
            width: 100%;
            padding: 60px 0;

            .what-teacher-parent {
                width: 750px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 50px;

                .what-teacher-carousel {
                    width: 656px;

                    .what-teacher-carousel-item {
                        position: relative;
                        border-radius: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        margin: 0 auto;
                        width: 248px;
                        height: 274px;
                        background: #FAFAFA;



                        .what-teacher-carousel-item-intro {
                            border-radius: 10px;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            padding: 28px;
                            font-size: 16px;
                            top: 0;
                            left: 0;
                            color: #ffffff;
                            background: #54C2FB;
                            transition: all 0.3s;
                            word-wrap: break-word;
                            word-break: break-all;
                            overflow: hidden;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-direction: column;
                            opacity: 0;

                            &:hover {
                                opacity: 1;
                            }
                        }

                        .what-teacher-carousel-item-img {
                            margin: 28px 0;
                            width: 130px;
                            height: 130px;
                            border-radius: 130px;
                        }
                    }
                }
            }

        }
    }



    .whylearn {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #fff;

        .why-learn {
            padding: 56px 130px;
            width: 1280px;

            .why-learn-pictur {
                width: 100%;
                padding-top: 52px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .why-learn-pictur-item {
                    width: 306px;
                    border-radius: 10px;
                    box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                    transition: all 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .why-learn-pictur-item-pic {
                        width: 100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        height: 228px;
                    }

                    .why-learn-pictur-item-word {
                        width: 100%;
                        padding: 16px 30px;
                        text-align: center;
                        font-size: 19px;
                        color: #555555;
                    }
                }
            }
        }
    }

    .whyhaimawang {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #fff;

        .why-haimawang {
            padding: 56px 200px;
            width: 1280px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            .why-haimawang-content {
                padding-top: 20px;
                font-size: 22px;
                color: #555555;
            }

            .why-haimawang-tags {
                width: 100%;

                .why-haimawang-tags-row {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    margin-bottom: 2px;

                    .why-haimawang-tags-row-one {
                        width: 125px;
                        font-size: 18px;
                        color: #555555;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        background: #ECF0F4;
                        transition: all 0.3s;
                        border-radius: 2px;

                        &:hover {
                            transform: scale(1.1);
                            box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                        }

                    }

                    .why-haimawang-tags-row-b {
                        width: 125px;
                        height: 188px;
                        color: #ffffff;
                        font-size: 14px;
                        padding: 0 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.3s;
                        border-radius: 2px;
                        word-wrap: break-word;
                        word-break: break-all;
                        overflow: hidden;
                        margin-left: 2px;

                        &:hover {
                            transform: scale(1.1);
                            box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                        }

                    }

                    .why-haimawang-tags-row-m {
                        width: 250px;
                        height: 89px;
                        font-size: 20px;
                        color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        transition: all 0.3s;
                        margin-left: 2px;
                        border-radius: 2px;

                        &:hover {
                            transform: scale(1.1);
                            box-shadow: 2px 3px 16px 1px rgba(4, 0, 0, 0.11);
                        }
                    }
                }
            }
        }
    }

    .homepagebigpicture {
        width: 100%;
        display: flex;
        justify-content: center;

        .homepage-big-picture {
            padding: 125px 0;
            min-width: 1280px;
            display: flex;
            justify-content: space-between;

            .homepage-big-picture-left {
                width: 660px;
                color: #fff;

                .homepage-big-picture-left-l {
                    font-family: STYuanti-TC-Regular;
                    font-size: 80px;
                    font-weight: bold;
                    letter-spacing: 10px;
                }

                .homepage-big-picture-left-m {
                    font-family: STYuanti-TC-Regular;
                    font-size: 50px;
                    letter-spacing: 5px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                .homepage-big-picture-left-s {
                    font-family: STYuanti-TC-Regular;
                    font-size: 28px;
                }
            }

            .homepage-big-picture-right {
                width: 220px;
                margin-top: 60px;
                // height: 260px;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 5px;
                padding: 16px 15px;

                .homepage-big-picture-right-a {
                    font-size: 28px;
                    letter-spacing: 2px;
                    color: #fff;
                }

                .homepage-big-picture-right-b {
                    font-size: 16px;
                    color: #B7B7B7;
                    text-decoration: line-through;
                }

                .homepage-big-picture-right-c {
                    font-size: 42px;
                    color: #FF8627;
                }

                .homepage-big-picture-right-d {
                    letter-spacing: 4px;
                    font-size: 16px;
                    color: #fff;
                    padding-bottom: 18px;
                }

                .homepage-big-picture-right-button {
                    width: 174px;
                    height: 37px;
                    font-size: 20px;
                    background: #FF8627;
                    border-color: #FF8627;
                }
            }

        }
    }

}

.title-style {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: #EDEDED;
    height: 42px;

    .for-ios {
        width: 100%;
        position: absolute;
        bottom: 3px;
        display: flex;
        justify-content: center;
        align-items: center;

        .title-style-position {
            letter-spacing: 2px;
            color: #444444;
            font-size: 24px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            .ball-l {
                background: #71C8D6;
                width: 20px;
                height: 20px;
                border-radius: 20px;
                margin: 10px 4px;
            }

            .ball-m {
                background: #8FE8F6;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                margin: 6px 4px;
            }

            .ball-s {
                background: #71C8D6;
                width: 11px;
                height: 11px;
                border-radius: 11px;
                margin: 6px 4px;
            }

            .title-style-position-content {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 0 22px;

                .title-style-position-big {
                    font-size: 28px;
                    color: #54C3D4;
                }
            }
        }
    }


}

.modal-homepage-content {
    width: 100%;
    display: flex;
    padding: 8px 0 8px 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .modal-homepage-content-title {
        font-size: 18px;
        font-weight: bold;
    }

    .modal-homepage-content-item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 24px;

        .modal-homepage-content-item-left {
            width: 128px;
            color: #555555;
            font-size: 16px;
            text-align: right;
            padding-right: 8px;
        }
    }

    .modal-homepage-content-course-button {
        width: 136px;
        height: 38px;
        border-radius: 38px;
        background: #FF8627;
        border-color: #FF8627;
        margin-top: 24px;
    }
}