// .course {
//     margin: 24px 32px;
//     width: 1280px;

//     .course-blank {
//         display: flex;
//         justify-content: center;
//         align-content: center;
//         flex-direction: column;

//         .course-blank-div {
//             text-align: center;
//             font-size: 16px;
//             color: #999999;
//             margin-top: 24px
//         }
//     }

//     .parent {
//         width: 100%;
//         display: flex;
//         margin-top: 18px;
//         flex-flow: row;

//         .stable {
//             position: relative;
//             width: 462px;
//             height: 294px;
//             border: 1px solid gray;
//             border-radius: 5px;
//             margin-right: 28px;

//             .stable-icon {
//                 width: 100%;
//                 height: 100%;
//                 background: rgba(0, 0, 0, 0.5);
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//                 color: #FFFFFF;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//                 font-size: 100px;
//             }
//         }

//         .change {
//             flex: 1;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;

//             .change-row1 {
//                 color: #444444;
//                 font-weight: bold;
//                 display: flex;
//                 justify-content: flex-start;
//                 align-items: center;
//                 font-size: 18px;
//                 padding: 14px 0 27px 0;
//             }

//             .change-row2 {
//                 font-size: 16px;
//                 color: #666666;
//                 font-weight: bold;
//                 padding: 5px 0;
//             }

//             .change-row3 {
//                 font-size: 16px;
//             }
//         }
//     }

//     .course-row {
//         margin: 44px 0;

//         .course-row-col {
//             cursor: pointer;
//             display: flex;
//             justify-content: center;

//             .course-row-col-header {
//                 position: absolute;
//                 background: #000000;
//                 right: 0;
//                 top: 0;
//                 border-top-right-radius: 5px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 color: #FFFFFF;
//                 font-size: 14px;
//                 opacity: 0.4;
//                 min-width: 66px;
//                 min-height: 22px;
//             }

//             .course-row-col-icon {
//                 width: 100%;
//                 height: 100%;
//                 background: rgba(0, 0, 0, 0.5);
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//                 color: #FFFFFF;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 flex-direction: column;
//             }
//         }
//     }

//     .show-background {
//         z-index: 999;
//         position: fixed;
//         top: 0;
//         left: 0;
//         background: rgba(0, 0, 0, 0.4);
//         width: 100%;
//         height: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         .show-video-content {
//             width: 912px;
//             background: rgba(0, 0, 0, 0);
//         }

//     }
// }

// .grade-modal-title {
//     padding: 10px 0;
//     color: #666666;
// }

// .grade-modal-content {
//     padding: 20px 0 28px 0;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     color: #666666;
//     font-size: 14px;
// }

// .grade-modal-button {
//     width: 126px;
//     height: 38px;
//     border-radius: 38px;
//     font-size: 16px;
// }