.notification {
    width: 1280px;
    padding: 12px 15px;

    .notification-nav {
        border-radius: 10px;
        font-size: 16px;
        padding: 0 32px;
        width: 100%;
        height: 52px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #999999;

        .notification-left {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .notification-potion {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .notification-potion-parent {
                padding-left: 28px;
                cursor: pointer;

            }

            .notification-potion-img {
                width: 14px;
                height: 15px;
                margin-right: 6px;
            }
        }
    }

    .notification-content {
        border-radius: 10px;
        margin-top: 24px;
        background: #fff;
        min-height: 100vh;
        padding-bottom: 60px;

        .notification-content-page {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }
    }
}

.course-blank {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .course-blank-div {
        text-align: center;
        font-size: 16px;
        color: #999999;
        margin-top: 24px
    }

}

.delete-modal-title {
    width: 100%;
    color: #444444;
    font-size: 16px;
    text-align: center;
}

.delete-modal-content {
    width: 100%;
    color: #444444;
    font-size: 15px;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    padding: 30px 0 40px 0;
}

.delete-modal-parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-modal-parent-button {
        width: 126px;
        height: 38px;
        border-radius: 38px;
    }

}