.order-payment {
    width: 1280px;
    padding: 12px 158px;

    .order-payment-bottom {
        width: 100%;
        padding: 18px 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .order-payment-bottom-tip {
            font-size: 12px;
            color: #999999;
            padding-right: 8px;
        }

        .order-payment-bottom-button {
            width: 136px;
            height: 38px;
            border-radius: 38px;
            background: #FF6303;
            border-color: #FF6303;
        }
    }

    .order-payment-top {
        width: 100%;
        padding: 40px 40px 10px 40px;
        border-bottom: 1px solid #F0F0F0;

        .order-payment-top-price {
            width: 100%;
            padding-top: 72px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: column;

            .order-payment-top-price-past {
                font-size: 16px;
                color: #999999;
                text-decoration: line-through;
            }

            .order-payment-top-price-now {
                font-size: 16px;
                color: #666666;
                padding: 8px 0;
            }
        }

        .order-payment-top-title {
            width: 100%;
            color: #444444;
            font-size: 16px;
            font-weight: bold;
        }

        .order-payment-top-item {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 34px;

            .order-payment-top-item-left {
                width: 128px;
                color: #555555;
                font-size: 16px;
                text-align: right;
                padding-right: 8px;
            }
        }
    }
}

.pay-modal {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .pay-modal-title {
        font-size: 22px;
        font-weight: bold;
    }

    .pay-modal-time {
        font-size: 16px;
        padding: 8px 0px;
        display: flex;
    }

    .pay-modal-tip {
        font-size: 13px;
        padding: 15px 0;
    }

    .pay-modal-sync {
        font-size: 128px;
        position: absolute;
        color: rgba(68, 68, 68, 1);
        z-index: 99;
    }
}