.personal-account {
    width: 1280px;
    padding: 12px 15px;
    display: flex;
    flex-flow: row;

    .personal-account-left {
        width: 230px;
    }

    .personal-account-right {
        padding: 24px;
        min-height: 80vh;
        border-radius: 10px;
        background: #fff;
        margin-left: 22px;
        flex: 1;
        min-width: 964px;

        .personal-account-title {
            padding: 11px 0;
            font-size: 16px;
            color: #444444;
            font-weight: bold;
        }

        .personal-account-avatar {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .personal-account-avatar-img {
                width: 66px;
                height: 66px;
                border-radius: 66px;
            }

            .personal-account-avatar-edit {
                padding: 0 5px;
                height: 66px;
            }
        }

        .personal-account-font {
            width: 64px;
            font-size: 16px;
            color: #555555;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 8px;

        }
      .personal-account-phone {
            font-size: 16px;
            color: #555555;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        .personal-account-input{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 24px;
        }
        .personal-account-button{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 44px 0;
            .personal-account-button-style{
                width: 136px;
                height: 38px;
                font-size: 16px;
                border-radius: 38px;
            }
        }
    }
}