.personal-feedback {
    width: 1280px;
    padding: 12px 15px;
    display: flex;
    flex-flow: row;

    .personal-feedback-left {
        width: 230px;
    }

    .personal-feedback-right {
        padding: 24px;
        min-height: 80vh;
        border-radius: 10px;
        background: #fff;
        margin-left: 22px;
        flex: 1;
        min-width: 964px;

        .right-big-title {
            color: #444444;
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 8px;
        }

        .right-row {
            display: flex;
            flex-flow: row;
            width: 100%;
            padding: 12px 0;

            .right-row-left {
                width: 100px;
                text-align: right;
                padding-right: 8px;
                color: #555555;
                font-size: 16px;
            }

            .change {
                flex: 1;
            }
        }

        .personal-feedback-upload {
            font-size: 14px;
            color: #54C3D4;
            padding-top: 11px;
            padding-bottom: 8px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
        }

        .right-row-comfirm {
            width: 100%;
            padding: 88px 0 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .right-row-comfirm-button {
                width: 328px;
                height: 52px;
                font-size: 18px;
                border-radius: 52px;
            }
        }

    }

    .picture {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .picture-item {
            position: relative;
            width: 83px;
            height: 83px;
            margin:10px 20px 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }
    }

}