.personal-order {
    padding: 12px 15px;
    display: flex;
    width: 1280px;
    flex-flow: row;

    .personal-order-left {
        width: 230px;
    }

    .personal-order-right {
        min-height: 80vh;
        border-radius: 10px;
        background: #ffffff;
        margin-left: 22px;
        flex: 1;
        min-width: 964px;

        .notification-content-page {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
        }

        .personal-order-right-row {
            width: 100%;
            height: 40px;
            padding: 0 34px;
            background: #54C3D4;
            color: #ffffff;

        }

        .personal-order-right-title {
            font-size: 16px;
            color: #444444;
            font-weight: bold;
            padding-bottom: 20px;
        }
    }
}

.columns-item {
    height: 67px;
}