.report-works {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .report-works-row1 {
        width: 80px;
        height: 22px;
        font-size: 16px;
        color: #444444;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .report-works-row3 {
        width: 420px;
    }

    .parent {
        width: 420px;
        display: flex;
        margin-bottom: 16px;
        flex-flow: row;

        .stable {
            font-size: 14px;
            color: #666666;
            width: 70px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 20px;

        }

        .change {
            flex: 1;
        }
    }

    .radio-group {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .radio {
        width: 100%;
        font-size: 14px;
        color: #666666;
        background: #F9F9F9;
        border: 1px solid #EFEFEF;
        padding: 8px;
        margin: 6px 0;

    }
}