
.user-blank{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .course-blank {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    
        .course-blank-div {
            text-align: center;
            font-size: 16px;
            color: #999999;
            margin-top: 24px
        }
    }
}